/* Basic styles */

html {
    box-sizing: border-box;
    font-size:16px;
  }
  
  *,
  *:after,
  *:before {
    box-sizing: inherit;
  
  }
  
  ::selection {
    background: #dfe0e1;
    color: #fefefe;
  }
  
  ::-moz-selection {
    background: #dfe0e1;
    color: #fefefe;
  }
  
  body {
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    min-width: 302px;
  }

  nav {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    min-width: 302px;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    font-weight: 400;
  }
  
  .wrapper {
    display: flex;
    height: 100%;
    width: 100%;
  }

  .left-nav {
    background-color: #1c232d;
    position: relative;
    transition: 0.5s;
    width: 250px;
  }

  .header__btn {
    float: left;
    height: 25px;
    margin: 12px 0 0 20px;
    position: relative;
    width: 25px;
    z-index: 99;
  }

  .header__btn > img {
    fill: #66b3ff;
    margin-top: 5px;
  }

  @media (max-width: 768px) {
    .left-nav {
      display: none;
      transform: translateX(-100%); 
    }
    .left-nav--active {
      display: block;
      transform: translateX(0); 
    }
    .header__btn {
      float: left;
      height: 25px;
      margin: 12px 0 0 20px;
      position: relative;
      width: 25px;
      z-index: 99;
    }

  }

  .header__title {
    color: #dfe0e1;
    display: inline-block;
    font-family: "Roboto Light", sans-serif;
    font-size: 1.125rem;
    margin: 0;
    padding: 0;
    padding-top: 15px; 
  }

  @media (max-width: 768px) {
    .header__title {
      left: 0;
      margin-left: 10px;
      position: relative;
    }

  }

  .title {
    align-items: center;
    border-bottom: 1px solid #2b333e;
    height: 50px;
  }

  .right-wrapper {
    background-color: #25313d;
    width: 100%;
  }

  .header {
    background-color: #25313d;
    -webkit-box-shadow: 3px 5px 25px 0px rgba(0,0,0,0.35);
    -moz-box-shadow: 3px 5px 25px 0px rgba(0,0,0,0.35);
    box-shadow: 3px 5px 25px 0px rgba(0,0,0,0.35);
    height: 50px;
    position: relative;
    text-align: center;
    width: 100%;
  }

  @media (max-width: 768px) {
    .header {
      text-align: left;
    }

  }

.content {
    background-color: #25313d;
}

.content-wrapper {
  padding: 20px;
}

/* iPhone 6 ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
  .content-wrapper {
  }
}

@media (min-width: 768px) {
  .content-wrapper {
  }
}

@media (min-width: 992px) {
  /* .content-wrapper {
    padding-top: 20px;
    padding-left: 20px; */

  }
}

/* media example */
@media (min-width: 992px) {
  .logo {
    width: 121px;
  }
  .logo__image {
    padding-top: 13px;
    width: 121px;
  }
}

@media (min-width: 768px) {
  .location {
    align-content: center;
    display: flex;
    justify-content: center;
  }
  .location--mobile {
    display: none;
  }
}

