/* navigation */
.title {
    position: relative;
}

.title__text > h1 {
    color: #dfe0e1;
    float: left;
    font-family: 'Roboto Slab', serif;
    font-size: 1.125rem;
    font-weight: 400;
    margin-left:20px; 
}

.title__logo {
    float: right;
    padding: 10px 10px 0 10px;
}

.title__logo > svg {
    fill: #8394a6;
    opacity: 0.5;
}

.links-title {
    height: 30px;
    margin-top: 10px;
}
.links-title > h2 {
    display: inline-block;
    color: #8394a6;
    font-size: 0.75rem;
    margin:10px 0 0 20px; 
    text-transform: uppercase;
}

.links-title__img {
    float: right;
    height: 20px;
    margin: 5px 10px 0 0;
    width: 20px;
}

.links-title__img > img {
    fill: #8394a6;
    opacity: 0.5;
}

.links-content {
    margin-bottom: 10px;
}

.links-content__item {
    color: #8394a6;
    display: block;
    font-size: 0.875rem;
    font-weight: 700;
    padding: 10px 0 10px 20px;
    text-decoration: none;
    -webkit-transition: .4s;
    transition: .4s;
}

.links-content__item:hover {
    color: #dfe0e1;
    background-color: #212a35; 
}

.links-content__item--selected {
    color: #dfe0e1;
    cursor: default;
    background-color: #212a35; 
    border-left: 3px solid #3498db; 
}

.btn-logout {
    bottom: 20px;
    padding: 0 20px 0 20px;
    position: absolute;
    text-align: center;
    width: 100%;
}

.btn-logout__item {
    background-color: #39434e;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    display: block;
    color: #dfe0e1;
    font-size: 0.7777rem;
    text-decoration: none;
    text-transform: uppercase;
    padding-bottom: 7px;
    padding-top: 7px;
    -webkit-transition: .4s;
    transition: .4s;
    width: 100%;
}

.btn-logout__item:hover {
    color: #fefefe;
}



/* header */
.drop-down {
    background-color: #39434e;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: none;
    color: #8394a6;
    float: left;
    font-family: "Roboto", sans-serif;
    font-size: 0.875rem;
    height: 30px;
    margin-top: 10px;
    margin-left: 15px;
    padding-left: 15px;
    width: 200px;
}

.drop-down__item {
    color: #dfe0e1;
    height: 20px;
}

.drop-down__item--selected {
    color: #3498db;
}

.header__view-selector {
    float: left;
    font-size: 0.875rem;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
}
.header__view-selector > li {
    float: left;
    margin: 17px 0 0 20px;
}
.header__view-selector > li > a {
    color: #a0a0a0;
    float: left;
    text-decoration: none;
}

.header__view-selector > li > p.active {
    border-bottom: 2px solid #3498db;
    color: #dfe0e1;
    margin: 0;
    padding-bottom: 15px;
}

.action-btn {
    background: #39434e;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    color: #dfe0e1;
    display: inline-block;
    float: right;
    font-family: "Roboto", sans-serif;
    font-size: 0.7777rem;
    height: 30px;
    padding-top: 8px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    margin: 10px 20px 0 0;
    -webkit-transition: .4s;
    transition: .4s;
    width: 110px;
  }

  .action-btn--save {
    background-color: #66BB6A;
  }

  .action-btn--cancel {
    background: none;
    color: #8394a6;
    font-weight: 500;
  }

  .action-btn--addImg {
    margin: 0;
    width: 230px;
  }

  .action-btn:hover {
    color: #fefefe;
  }

  .action-btn--disabled {
    opacity: 0.3;
  }

.content-wrapper {
    font-family: "Roboto", sans-serif;
}

.content__title {
    color: #dfe0e1;
    font-size: 1.875rem;
    font-weight: 300;
    margin: 10px 0 20px 0;
}

.content__description {
    color: #8c8d8e;
    font-size: 0.875rem;
    margin-bottom: 20px;
}

.content__text {
    color: #8c8d8e;
    line-height: 1.4rem;
    margin: 0; 
}

.content-wrapper img {
    max-width: 100%;
}

.news-list__item {
    background-image: 
    -webkit-linear-gradient(top, rgba(17,21,24,0), rgba(17,21,24,1)),
    -webkit-linear-gradient(bottom, rgba(17,21,24,0), rgba(17,21,24,1)),
    url("../img/img__example.png");
    background-image: 
    -moz-linear-gradient(top, rgba(17,21,24,0), rgba(17,21,24,1)),
    -moz-linear-gradient(bottom, rgba(17,21,24,0), rgba(17,21,24,1)),
    url("../img/img__example.png");
    background-position: center center; 
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: #dfe0e1;
    font-family: "Roboto", sans-serif;
    height: 150px;
    margin-bottom: 20px;
    max-width: 100%;
    overflow: hidden;
    padding: 20px;
    position: relative;
  }
/* news-list img */
.news-list__item1 { 
    background-image: 
    -webkit-linear-gradient(top, rgba(17,21,24,0), rgba(17,21,24,1)),
    -webkit-linear-gradient(bottom, rgba(17,21,24,0), rgba(17,21,24,1)),
    url("../img/img_news-site1.jpg") !important;
    background-image: 
    -moz-linear-gradient(top, rgba(17,21,24,0), rgba(17,21,24,1)),
    -moz-linear-gradient(bottom, rgba(17,21,24,0), rgba(17,21,24,1)),
    url("../img/img_news-site1.jpg") !important;

}

.news-list__item2 { 
    background-image: 
    -webkit-linear-gradient(top, rgba(17,21,24,0), rgba(17,21,24,1)),
    -webkit-linear-gradient(bottom, rgba(17,21,24,0), rgba(17,21,24,1)),
    url("../img/img_news-site2.jpg") !important;
    background-image: 
    -moz-linear-gradient(top, rgba(17,21,24,0), rgba(17,21,24,1)),
    -moz-linear-gradient(bottom, rgba(17,21,24,0), rgba(17,21,24,1)),
    url("../img/img_news-site2.jpg") !important;

}

.news-list__item3 { 
    background-image: 
    -webkit-linear-gradient(top, rgba(17,21,24,0), rgba(17,21,24,1)),
    -webkit-linear-gradient(bottom, rgba(17,21,24,0), rgba(17,21,24,1)),
    url("../img/img_news-site3.jpg") !important;
    background-image: 
    -moz-linear-gradient(top, rgba(17,21,24,0), rgba(17,21,24,1)),
    -moz-linear-gradient(bottom, rgba(17,21,24,0), rgba(17,21,24,1)),
    url("../img/img_news-site3.jpg") !important;

}

.news-list__item4 { 
    background-image: 
    -webkit-linear-gradient(top, rgba(17,21,24,0), rgba(17,21,24,1)),
    -webkit-linear-gradient(bottom, rgba(17,21,24,0), rgba(17,21,24,1)),
    url("../img/img_news-site4.jpg") !important;
    background-image: 
    -moz-linear-gradient(top, rgba(17,21,24,0), rgba(17,21,24,1)),
    -moz-linear-gradient(bottom, rgba(17,21,24,0), rgba(17,21,24,1)),
    url("../img/img_news-site4.jpg") !important;

}

.news-list__item5 { 
    background-image: 
    -webkit-linear-gradient(top, rgba(17,21,24,0), rgba(17,21,24,1)),
    -webkit-linear-gradient(bottom, rgba(17,21,24,0), rgba(17,21,24,1)),
    url("../img/img_news-site5.jpg") !important;
    background-image: 
    -moz-linear-gradient(top, rgba(17,21,24,0), rgba(17,21,24,1)),
    -moz-linear-gradient(bottom, rgba(17,21,24,0), rgba(17,21,24,1)),
    url("../img/img_news-site5.jpg") !important;

}

.news-list__item6 { 
    background-image: 
    -webkit-linear-gradient(top, rgba(17,21,24,0), rgba(17,21,24,1)),
    -webkit-linear-gradient(bottom, rgba(17,21,24,0), rgba(17,21,24,1)),
    url("../img/img_news-site6.jpg") !important;
    background-image: 
    -moz-linear-gradient(top, rgba(17,21,24,0), rgba(17,21,24,1)),
    -moz-linear-gradient(bottom, rgba(17,21,24,0), rgba(17,21,24,1)),
    url("../img/img_news-site6.jpg") !important;

}

.news-list__item7 { 
    background-image: 
    -webkit-linear-gradient(top, rgba(17,21,24,0), rgba(17,21,24,1)),
    -webkit-linear-gradient(bottom, rgba(17,21,24,0), rgba(17,21,24,1)),
    url("../img/img_news-site7.jpg") !important;
    background-image: 
    -moz-linear-gradient(top, rgba(17,21,24,0), rgba(17,21,24,1)),
    -moz-linear-gradient(bottom, rgba(17,21,24,0), rgba(17,21,24,1)),
    url("../img/img_news-site7.jpg") !important;

}

.news-list__item8 { 
    background-image: 
    -webkit-linear-gradient(top, rgba(17,21,24,0), rgba(17,21,24,1)),
    -webkit-linear-gradient(bottom, rgba(17,21,24,0), rgba(17,21,24,1)),
    url("../img/img_news-site8.jpg") !important;
    background-image: 
    -moz-linear-gradient(top, rgba(17,21,24,0), rgba(17,21,24,1)),
    -moz-linear-gradient(bottom, rgba(17,21,24,0), rgba(17,21,24,1)),
    url("../img/img_news-site8.jpg") !important;

}

.news-list__item9 { 
    background-image: 
    -webkit-linear-gradient(top, rgba(17,21,24,0), rgba(17,21,24,1)),
    -webkit-linear-gradient(bottom, rgba(17,21,24,0), rgba(17,21,24,1)),
    url("../img/img_news-site9.jpg") !important;
    background-image: 
    -moz-linear-gradient(top, rgba(17,21,24,0), rgba(17,21,24,1)),
    -moz-linear-gradient(bottom, rgba(17,21,24,0), rgba(17,21,24,1)),
    url("../img/img_news-site9.jpg") !important;

}
  
  .news-list__item__date {
    display: inline-block;
    font-size: 0.875rem;
    margin: 0;
    opacity: 0.5;
  }
  
  .news-list__item__title {
    bottom: 20px;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.4;
    margin: 0;
    max-height: 45px;
    max-width: 90%;
    overflow: hidden;
    position: absolute;
  }
.news-list__item__icons {
    position: absolute;
    right: 20px;
    top: 20px;
}

.news-list__item__icon-item {
    display: inline-block;
    height: 15px;
    margin-left: 20px;
    opacity: 0.5;
    width: 15px;
}

.news-list__item__icon-item:hover {
    opacity: 0.6;
}

.soc-icons {
    margin-top: 10px;
    min-height: 30px;
    width: 175px;
}

.soc-icons__item {
    display: inline-block;
    height: 30px;
    margin-right: 10px;
    opacity: 0.5;
    width: 30px;
}

/* page add */

.input {
    background-color:#25313d;
    border: 1px solid #39434e;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: #dfe0e1;
    font-size: 0.875rem;
    font-weight: 500;
    margin-bottom: 20px;
    padding: 10px 0 10px 15px;
    width: 100%;
}

.input--title {
    font-size: 1.125rem;
    font-weight: 400;
}

.input--description {
    height: 85px;
}

.input--content {
    height: 400px;
}

.input:focus {
    border: 1px solid #42a5f5;
}

.input::placeholder {
    color: #8394a6;
}

.form__wrapper {
    position: relative;
}

.form__wrapper__limit {
    color: #8394a6;
    font-size: 0.875rem;
    font-family: "Roboto Light", sans-serif;
    position: absolute;
    right: 15px;
    top: 10px;
}

.form__wrapper__title {
    color: #8394a6;
    font-family: "Roboto Light", sans-serif;
    font-size: 0.75rem;
    left: 15px;
    position: absolute;
    text-transform: uppercase;
    top: 10px;
}

.platform {
    height: 40px;
}

.title--type {
    color: #dfe0e1;
    display: inline-block;
    font-size: 1.125rem;
    font-weight: 500;
    margin: 0;
}

.checkbox {
    display: inline-block;
    float: right;
    height: 20px;
}

.checkbox-switch {
    display: inline-block;
    height: 18px;
    position: relative;
    width: 35px;
  }
  
  .checkbox-switch input {
    height: 0;
    opacity: 0;
    width: 0;
  }
  
  .checkbox-slider {
    background-color: #384552;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    -webkit-transition: .4s;
    right: 0;
    top: 0;
    transition: .4s;
  }
  
  .checkbox-slider:before {
    background-color: #8394a6;
    bottom: -1px;
    content: "";
    height: 20px;
    position: absolute;
    -webkit-transition: .4s;
    transition: .4s;
    width: 20px;
  }
  
  input:checked + .checkbox-slider {
    background-color: #324b64;
  }
  
  input:checked + .checkbox-slider:before {
    background-color: #66b3ff;
    -webkit-transform: translateX(15px);
    -ms-transform: translateX(15px);
    transform: translateX(15px);
  }
  
  .checkbox-slider.round {
    border-radius: 34px;
  }
  
  .checkbox-slider.round:before {
    border-radius: 50%;
  }

.platform-filter {
    float: right;
}

  .platform-filter__label {
    color: #dfe0e1;
    float: right;
    font-size: 0.7777rem;
    text-align: right;
    text-transform: uppercase;
  }

  .platform-filter__list {
    margin-top: 25px;
    opacity: 0.2;
    text-align: right;
  }

  .platform-filter__list__item {
      margin-left: 10px;
  }

  .platform-btns {
      margin-top: 90px;
  }
