/* navigation */
.title {
    position: relative;
}

.title__text > h1 {
    margin-left:20px; 
    float: left;
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    color: #dfe0e1;
    font-size: 1.125rem;
}

.title__logo {
    float: right;
    padding: 10px 10px 0 10px;
}

.title__logo > svg {
    fill: #a0a0a0;
    opacity: 0.5;
}

.links-title {
    height: 30px;
    margin-top: 10px;
     
}
.links-title > h2 {
    color: #a0a0a0;
    font-size: 0.75rem;
    text-transform: uppercase;
    margin:10px 0 0 20px; 
    display: inline-block;
}

.links-title__img {
    float: right;
    width: 20px;
    height: 20px;
    margin: 5px 10px 0 0;
}

.links-title__img > svg {
    fill: #8c8d8e;
    opacity: 0.5;
}

.links-content {
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
    font-size: 0.875rem;
    list-style: none;
    position: relative;

}

.links-content > li {
    margin: 12px 0 0 20px;
}

.links-content > li > a {
    text-decoration: none;
    color: #a0a0a0;
    font-weight: 700;
}


/* header */
.header__view-selector {
    margin: 0;
    padding: 0;
    font-size: 0.875rem;
    list-style: none;
    position: relative;
    float: left;
}
.header__view-selector > li {
    float: left;
    margin: 17px 0 0 20px;
}
.header__view-selector > li > a {
    text-decoration: none;
    color: #a0a0a0;
    float: left;
}

.header__view-selector > li > p.active {
    margin: 0;
    padding-bottom: 15px;
    color: #dfe0e1;
    border-bottom: 2px solid #3498db;
}

.content__title {
    margin: 10px 0 20px 0;
    color: #dfe0e1;
    font-size: 1.875rem;
    font-weight: 300;
}

.content__description {
    color: #8c8d8e;
    font-size: 0.875rem;
    margin-bottom: 20px;
}

.content__text {
    color: #8c8d8e;
    line-height: 1.4rem;
    margin: 0; 
}

.content-wrapper img {
    max-width: 100%;
}

.news-list__item {
    font-family: "Roboto", sans-serif;
    background: #66b3ff;
    color: #dfe0e1;
    margin-bottom: 20px;
    max-width: 100%;
    overflow: hidden;
    height: 150px;
    padding: 20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    position: relative;
  }
  
  .news-list__item__date {
    margin: 0;
    display: inline-block;
    font-size: 0.875rem;
  }
  
  .news-list__item__title {
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.4;
    margin: 0;
    position: absolute;
    bottom: 20;
  }
.news-list__item__icons {
    position: absolute;
    background: #3498db;
    top: 20px;
    right: 20px;    
}

.news-list__item__icon-item {
    width: 15px;
    height: 15px;
    margin-left: 20px;
    background: #a0a0a0;
    display: inline-block;
}